nav { 
    border:1px; 
    background-color:#ff99cc; 
    color:white; 
    padding:0px; 
    
} 
a { 
    text-decoration:none; 
    color:white; 
    font-size:18px; 
} 
.tab1 { 
    display: inline-block;
    margin-left: 40px;
} 

.tab2 { 
    tab-size: 4; 
} 

.tab4 { 
    tab-size: 8; 
} 